* {
  box-sizing: border-box;
  /* color: white; */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100vw;
  background-color: brown;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background-color: transparent;
  color: white;
}

button:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  border: 3px solid black;
  background-color: rgb(205, 127, 50);
  padding: 10px 30px;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(149, 69, 53) ;
  height: 30px;
  text-align: center;
  align-items: center;
}
nav a {
  padding: 10px;
  color: white;
}

.selection-screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 90vw;
  
}

.movie p {
  display: inline;
}
.star-rating button {
  background-color: transparent;
  border: none;
  outline:none;
  cursor: pointer;
}
.rating-on {
  color: #000
}
.rating-off {
  color: #ccc;
}
.watched {
  background-color: rgb(205, 127, 50);
  border: 10px solid red;
}
.not-watched-yet {
  background-color: rgb(205, 127, 50);
  border: 10px solid green;
}
option {
  text-align: center;
}
select {
  background-color: transparent;
  color: white;
}
select:hover {
  cursor: pointer;
}
.currently-selected {
  border: 10px solid blue;
}
.movie {
  padding: 15px 5px;
  margin: 10px;
  border-radius: 20px;
  min-width: 600px;
}
.movie a {
  padding: 15px;
  color: white;
  text-decoration: none;
}

.movie a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.plot-value input {
  border: none;
  background-color: transparent;
}

.each-card{
  background-color: rgb(205, 127, 50);
  border-radius: 20px;
  padding: 10px;
}
.list-buttons{
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding: 5px 0;
}
.list-buttons button {
  margin: 5px;
}
.movie-cards{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px){
  .selection-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 90vw;
  }
}
input { 
  color: white;
  background-color: transparent;
}